.video__section {
    height: 70vh;
    width: 100%;
}
.cursor-pointer{
    cursor:pointer!important;
}
.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.swiper-pagination *{
    background-color: #FFC2AA;
}
.swiper-pagination{
    bottom: 0!important;
}