
/* Start text aimation */
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 50pt;

    text-align: center;

    user-select: none;
}

.carousel-text-blur{
    background: #ffffff;
    background: linear-gradient(to right, #ffffff 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* End text animation */

/* Start navigation bar */
#nav{
    box-shadow: none;
    /* background-color: var(--primary-color) !important; */
    background-color:var(--bg-nav);
    /* opacity: 0.8; */
}

.nav-link{
    color:var(--secondary-color)!important; 
}
.dropdown-menu a:hover{
    background-color:var(--bg-primary)!important;
    color:white!important;
}
.nav-link-border-bottom{
    border-bottom: 2px solid rgb(255, 255, 255)!important;
}
.logo >a{
    cursor: pointer;
    font-weight:bolder!important;   
}
.active{
    color:rgb(255, 255, 255)!important;  
}

@media screen and (min-width:700px){
    .logo >a{
        margin-left:50px;
        font-size:1.8rem!important;
    }

}
/* End navigation bar */


/* footer */
#footer *{
    color: var(--secondary-color)!important;
}

.footer-social-icon{
    font-size: 1.5rem;
}
#footer ul{
    list-style-type: none!important;
    padding: 0;
}
#footer ul li a{
    text-decoration: none!important;
    color: rgb(57, 56, 56);
}
/* end footer */


.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, var(--bg-primary) 0%, var(--bg-primary) 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}